.post_header {
  display: flex;
  align-items: center;
  margin-left: 1px;
}
.caption {
  font-weight: normal;
  margin-left: 2px;
 font-family:serif;
}
.post_img {
  object-fit:contain;
  width: 100%;
  max-height: 500px;
}
.comment-section{
  display: flex;
  align-items: center;
}
.comment-section>h4{
  font-size: 13px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin-right: 2px;
}
.comment-section>p{
  align-items: center;
  font-size: 13px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.userName{
    margin-bottom: 10px;
    margin-left: 5px;
    font-weight: 600;
    font-size: 16px;
    font-family:sans-serif;
}
.user-info{
  display: inline;
  align-items: baseline;
  justify-content: space-evenly;
}
.user-info>p{
  padding-left: 5px;
  margin-top: 4px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: grey;
}
.post{
    background-color: white;
    max-width: 600px;
    border: 1px solid lightgray;
    border-radius: 2px;
    align-items: center;
    padding: 5px;
}
.post-icons{
  display: flex;  
  padding: 5px;
  align-items: center;
  justify-content: space-between;
}

.like-icon{
  padding: 2px;
  height: 22px;
  color: btnColor;
  width: 22px;
}
.icon{
  padding: 2px;
  height: 22px;
  color: cornflowerblue;
  width: 22px;
}

.icons-field{
  display: flex;
  align-items: center;
  position: relative;
}
.icons-field>h4{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: gray;
}